@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #093545 url("./assets/background.png") no-repeat bottom;
  background-size: 100%;
}

.main-container {
  @apply m-32;
}
